# Local AI Instructions
ai.instructions.md
# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage

# Next.js build output
/.next
/out

# vercel
.vercel

# env files (Crucial for security!)
.env
.env*.local

# TypeScript declarations
next-env.d.ts
*.tsbuildinfo

# misc
.DS_Store
*.pem
*debug.log*
*error.log*
.eslintcache
**.gitignore
**ai.instructions